.navbar {
    top: 0;
    position: sticky;
    background-color: var(--light-container) !important;
}

.darkmode .navbar {
    background-color: var(--dark-container) !important;
}

#navbar-links {
    font-weight: bold;
    text-decoration: none;
    color: var(--light-text);
}

.darkmode #navbar-links {
    color: var(--dark-text);
}

#navbar-links:hover {
    background: var(--light-bg);
    border-radius: 4px;

}

.darkmode #navbar-links:hover {
    text-decoration: none;
    background: var(--link);
    color: #fff !important;
}

#navbarScrollingDropdown {
    color: var(--light-text);
    font-weight: bold;
}

.darkmode #navbarScrollingDropdown {
    color: var(--dark-text);
}

.dropdown-menu {
    background: var(--light-container);
    color: var(--light-text)
}

.darkmode .dropdown-menu {
    background: var(--dark-container);
    color: var(--dark-text)
}

.d-flex {
    margin-left: 10px ! important;
}

@media (max-width: 991px) {
    .d-flex {
        align-self: justify;
        margin-bottom: 1rem;
    }
}

.container-fluid>a {
    padding: 0 10px 0 10px;
}