@media (max-width: 1000) {}

body {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.darkmode {
  background: var(--dark-bg);
  color: var(--dark-text);
}

.container {
  background-color: var(--light-container);
  color: var(--light-text);
}

.darkmode .container {
  background-color: var(--dark-container);
  color: var(--dark-text);
}

.round-container {
  border-radius: 25px;

}

.boxshadow {
  box-shadow: 0 2px 2px 0 var(--dark-bg);
}

.darkmode .boxshadow {
  box-shadow: 0 2px 2px 0 var(--link);


}