body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-bg-page: #f1f0eb;
  --light-bg: #dadada;
  --light-text: #0d1117;
  --light-container: #fff;
  --link: #e9874a;
  --dark-bg: #28282a;
  --dark-text: #bdbebd;
  --dark-container: #020202;
}